Package: com.messiasmend.projetoh
Name: ProjetoH
Version: 1.0.1
Architecture: iphoneos-arm64
Description: Generic iOS element inspector foundation with three-finger activation.
Maintainer: Messias
Author: Messias
Section: Tweaks
Depends: firmware (>= 14.0), mobilesubstrate
